* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    background-color: brown;
  }
   
  section {
    width: 375px;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  
  .logo {
    padding-top: 20px;
    padding-left: 160px;
  }

  h2 {
    color: brown;
    padding-top: 30px;
    padding-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    padding-left: 30px;
    padding-top: 20px;
  }

  label {
    padding-left: 30px;
  }

  input {
    width: 310px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .forgotpw {
    padding-top: 15px;
    padding-left: 125px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
  }

  select {
    width: 310px;
    height: 40px;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  button {
    background-color: brown;
    color: white;
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
  }

  .signin {
    padding-left: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
  }

  strong {
    color: blue;
  }

.signinopt {
    margin-top: -35px;
    padding-left: 100px;
}
  
.google {
    padding-left: 150px;
}

.apple {
    padding-left: 15px;
}

  .bottom {
    padding-top: 95px;
    padding-left: 10px; 
  }